<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin/admin_home">
        <i class="mdi mdi-view-dashboard menu-icon"></i>
        <span class="menu-title">Dashboard</span>
        <div class="badge badge-danger">Home</div>
      </a>
    </li>
	<!--
    <li class="nav-item">
      <a class="nav-link" href="/admin/college_details">
        <i class="mdi mdi-hospital-building menu-icon"></i>
        <span class="menu-title">Institute Details</span>
      </a>
    </li>
	-->
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-basic"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <i class="mdi mdi-account-key menu-icon"></i>
        <span class="menu-title">Administrator</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/viewClassSection"
              >Class & Section</a
            >
          </li>
          <li class="nav-item" hidden>
            <a class="nav-link" href="/admin/enrollmentid">Enrollment ID</a>
          </li>
          <li class="nav-item" hidden>
            <a class="nav-link" href="/admin/admin_task">Admin Task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/Promotion">Promotion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/subjects">Subjects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/lessons">Lessons</a>
          </li>		  
          <li class="nav-item">
            <a class="nav-link" href="/admin/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/menu_status">Menu</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-basics"
        aria-expanded="false"
        aria-controls="ui-basics"
      >
        <i class="mdi mdi-account-edit menu-icon"></i>
        <span class="menu-title">Teacher</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basics">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/TeacherDetails">Teacher Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/Teacher_timetable"
              >Teacher Time Table</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/Teacher_additionalTask"
              >Additional task</a
            >
          </li>	          
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#form-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="mdi mdi-account-multiple menu-icon"></i>
        <span class="menu-title">Student</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/viewMeeting">Meeting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/materials">Materials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/timetable">Time-Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/StudentDetails">Student Details</a>
          </li>
        </ul>
      </div>
    </li>
	
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#exam-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="mdi mdi-account-multiple menu-icon"></i>
        <span class="menu-title">Scheduler</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="exam-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/scheduler">Date Scheduler</a>
          </li>

     
        </ul>
      </div>
    </li>
  	
  
  </ul>
</nav>
