<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/itadmin/admin_home">
        <i class="mdi mdi-view-dashboard menu-icon"></i>
        <span class="menu-title">Dashboard</span>
        <div class="badge badge-danger">Home</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/itadmin/college_details">
        <i class="mdi mdi-hospital-building menu-icon"></i>
        <span class="menu-title">INSTITUTE DETAILS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/itadmin/user_details">
        <i class="mdi mdi-hospital-building menu-icon"></i>
        <span class="menu-title">USERS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/itadmin/workflow_config">
        <i class="mdi mdi-hospital-building menu-icon"></i>
        <span class="menu-title">WORKFLOW</span>
      </a>
    </li>		
    
  </ul>
</nav>
